.delete-wrapper {
  margin: 3em auto 0 auto;
  text-align: center;
  width: 80%;
  max-width: 600px;
}

.back-arrow:hover {
  cursor: pointer;
}

.delete-title {
  font-size: 2rem;
}

.checkbox {
  margin-bottom: 3em;
}

.isSure:hover,
.checkbox:hover {
  cursor: pointer;
}

.delete-error {
  color: red;
}
