.step-title {
  margin-top: 1.5em;
}

.create-link {
  color: rgb(120, 141, 232);
  text-decoration: none;
}

.create-link:focus,
.create-link:hover {
  color: #582cac;
}

.step-private-key {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diffie-private-key-wrapper {
  max-width: 70vw;
  border: black solid;
  border-radius: 5px;
  padding: 0.3em 1em;
  cursor: pointer;
}

.diffie-private-key {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.step-error {
  color: red;
}

.step-btn {
  margin-top: 0.5em;
  padding: 0.5em 1.5em;
  font-size: 1.8rem;
  border-radius: 20px;
  background-color: rgb(120, 141, 232);
  color: white;
  border: none;
}

.step-btn:focus:enabled,
.step-btn:hover:enabled {
  cursor: pointer;
  background-color: black;
}

.step-btn:disabled {
  background-color: lightgrey;
}

.check {
  margin: 1em;
}

.isSure:hover {
  cursor: pointer;
}
