.seller-account {
  display: grid;
  width: 90%;
  margin: 2em auto 0 auto;
  gap: 1em;
}

.seller-btn {
  padding: 0.5em 1em;
  font-size: 2rem;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: none;
}

.btn-new-item {
  background-color: rgb(148, 214, 49);
}

.btn-new-item:hover,
.btn-new-item:focus {
  cursor: pointer;
  background-color: rgb(158, 241, 35);
}

.btn-sales {
  background-color: rgb(246, 246, 84);
}

.btn-sales:hover,
.btn-sales:focus {
  cursor: pointer;
  background-color: yellow;
}

.btn-my-items {
  background-color: lightskyblue;
}

.btn-my-items:hover,
.btn-my-items:focus {
  cursor: pointer;
  background-color: rgb(100, 196, 255);
}

.btn-delete-seller-account {
  background-color: rgb(249, 155, 139);
}

.btn-delete-seller-account:hover,
.btn-delete-seller-account:focus {
  cursor: pointer;
  background-color: red;
}

.btn-text {
  margin: auto;
  max-width: 60%;
}

@media (min-width: 800px) {
  .seller-account {
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
    margin-top: 15vh;
    gap: 3em;
  }
}
