.item-result-wrapper {
  display: flex;
  min-height: 350px;
}

.item-result-body {
  margin-left: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.item-result-field {
  display: flex;
  align-items: center;
}

.item-usdc {
  margin: 0;
}

.item-result-amount {
  margin: 0;
  font-size: 1.5rem;
}

.item-result-buyers {
  margin: 0;
  color: grey;
}

.item-result-description {
  margin-top: 2em;
  word-break: break-word;
}

/* Modal buy */

.item-result-modal-price {
  font-size: 1rem;
  margin: 1em 0 0 0;
}

.item-result-input-amount {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.item-result-amount-label {
  margin-right: 1em;
  font-size: 1rem;
}

.item-result-hr {
  margin: 1em 0;
}

@media (max-width: 600px) {
  .item-result-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item-result-body {
    align-items: center;
    margin: 0;
  }

  .item-result-field {
    margin: 1em;
  }

  .item-result-stats {
    margin: 1em;
  }
}
