.search {
  display: flex;
}

.search-input {
  width: 65%;
  border: black solid 1px;
  padding-left: 0.8em;
  font-size: 1rem;
}

.search-icon {
  width: 10%;
  min-width: 50px;
  max-width: 100px;
  border: black solid 1px;
  border-left: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #f5f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon:focus,
.search-icon:hover {
  cursor: pointer;
  background-color: #8890a7;
}
