.item-wrapper {
  display: flex;
  border: grey solid;
  border-radius: 8px;
  margin-bottom: 1em;
}

.item-image {
  border-right: grey solid;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.item-body {
  padding: 0.5em 0.5em 0.5em 1em;
  width: 100%;
}

/* top */

.item-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 30%;
  overflow: hidden;
}

.item-title {
  margin: 0 1em 0 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-word;
}

.item-category {
  margin-top: 0.1em;
  font-size: 1rem;
  color: grey;
}

.item-btn {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
}

.item-update-btn {
  background-color: rgb(146, 185, 248);
}

.item-update-btn:hover,
.item-update-btn:focus {
  background-color: black;
  cursor: pointer;
}

/* middle */

.item-mid {
  display: flex;
  align-items: center;
  height: 40%;
}

.item-price {
  display: flex;
  align-items: center;
}

.item-usdc-logo {
  width: 60px;
  margin-right: 1em;
}

.item-usdc {
  font-size: 2.5rem;
}
.item-rate {
  margin: auto;
}

/* bottom */

.item-bottom {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-stats {
  margin: 0 0 0.5em 0;
}

.item-score {
  margin: 0;
}

.item-delete-btn {
  align-self: flex-end;
  background-color: rgb(242, 77, 77);
}

.item-delete-btn:focus,
.item-delete-btn:hover {
  cursor: pointer;
  background-color: rgb(150, 3, 3);
}

@media (max-width: 850px) {
  .item-rate {
    display: none;
    font-size: 20;
  }
}

@media (max-width: 650px) {
  .item-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .item-image {
    border: none;
    border-radius: 0;
    border-bottom: grey solid;
    margin-bottom: 1em;
  }
  .item-body {
    width: 93%;
  }
}
