.item-wrapper {
  display: flex;
  justify-content: right;
  border: grey solid 1px;
  border-radius: 8px;
  margin-bottom: 1em;
  height: 250px;
}

.item-image {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.item-body {
  padding: 0.5em 0.5em 0.5em 1em;
  /* width of 800px (option-wrapper) - 250px (image) */
  /* After testing, the best width is 523px, not sure why */
  width: 523px;
  border-left: grey solid 1px;
}

/* top */

.item-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 30%;
  overflow: hidden;
}

.item-title {
  margin: 0 1em 0 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-word;
}

.item-category {
  margin-top: 0.1em;
  font-size: 1rem;
  color: grey;
}

/* middle */

.item-mid {
  display: flex;
  align-items: center;
  height: 40%;
}

.item-price {
  display: flex;
  align-items: center;
}

.item-usdc-logo {
  width: 60px;
  margin-right: 1em;
}

.item-usdc {
  font-size: 2.5rem;
}
.item-rate {
  margin: auto;
}

/* bottom */

.item-bottom {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-stats {
  margin: 0 0 0.5em 0;
}

.item-score {
  margin: 0;
}

.item-delete-btn:focus,
.item-delete-btn:hover {
  cursor: pointer;
  background-color: rgb(150, 3, 3);
}

@media (max-width: 850px) {
  .item-rate {
    display: none;
    font-size: 20;
  }
}

@media (max-width: 650px) {
  .item-wrapper {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .item-image {
    display: none;
  }
  .item-body {
    border: none;
    width: 93%;
    padding: 0.8em 0;
  }
}
