.create-title {
  font-size: 3rem;
  margin: 0;
}

.create-list {
  padding: 0;
}

.create-list li {
  list-style-position: inside;
}

.total-cost {
  font-size: 1.6rem;
  margin: 1em 0 0.5em 0;
}

.cost {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.token-logo {
  width: 35px;
  margin-right: 0.5em;
}

.plus-logo {
  width: 35px;
  margin: 0 1.5em;
}
