.list-wrapper {
  width: 80%;
  max-width: 800px;
  margin: auto;
}

.list-top {
  display: flex;
  align-items: center;
  margin: 1.3em 0;
}

.back-arrow {
  cursor: pointer;
}

.list-title {
  margin-left: 0.5em;
  font-size: 2rem;
}

.list-form {
  display: flex;
  flex-direction: column;
}

.list-form-field {
  margin-bottom: 0.5em;
  display: flex;
}

.list-input {
  font-size: 1rem;
  width: 100%;
}

.list-form-price-amount {
  display: flex;
  justify-content: space-between;
}

.list-form-label-price,
.list-form-label-amount {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.list-form-price {
  display: flex;
  align-items: center;
}

.list-form-amount {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-input-price,
.list-input-amount {
  font-size: 1.2rem;
  max-width: 150px;
}

.list-usdc-logo {
  width: 30px;
  margin: 0 1em;
}

.list-textarea-description {
  resize: vertical;
  min-height: 100px;
}

.list-form-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 1em;
  min-width: 150px;
}

.list-form-label-image {
  font-size: 1.2rem;
  font-weight: bold;
}

.list-separator {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 1em 0;
}

.list-image-uploader {
  padding: 1em 0;
  border-radius: 5px;
}

.list-btn {
  margin: 1em auto 2em auto;
  padding: 0.5em 1.5em;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: rgb(120, 141, 232);
  color: white;
  border: none;
}

.list-btn:focus,
.list-btn:hover {
  cursor: pointer;
  background-color: black;
}

@media (max-width: 1000px) {
  .list-form-price-amount {
    flex-direction: column;
  }

  .list-form-price,
  .list-form-amount {
    margin-bottom: 1em;
    justify-content: left;
  }
}
